@{
    ViewBag.Title = "Bijuterii";
}
<h2>@ViewBag.Title</h2>
@if (ViewBag.Bijuterii != null)
{
    foreach (var bijuterie in ViewBag.Bijuterii)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Label("Nume", "Nume:")
                <br />
                <p>@bijuterie.Nume</p>
                @Html.Label("Imagine", "")
                <br />
                <img src="@bijuterie.Image" style="overflow: hidden; position: relative; width:200px; height:200px;" />
                @using (Html.BeginForm(actionName: "Details", controllerName: "Bijuterii", method: FormMethod.Get,
        routeValues: new { id = bijuterie.IdBijuterie }))
                {
                    <button style="margin-right:5px" class="btn btn-primary col-lg-1"
                            type="submit">
                        Detalii
                    </button>

                }
                <p><span class="glyphicon glyphicon-shopping-cart" style="color:green"></span> </p>
            </div>
        </div>
    }
}
@Html.ActionLink("Adauga bijuterie", "New")



